* {
    padding: 0;
    margin: 0;
    font-family: 'RobotoRegular';
}

body {
    width: 100%;
    background-image: url("../images/background_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

a, li {
    text-decoration: none;
}

a {
    display: inline-block;
    color: #f3f3f3;
    line-height: 1;
    cursor: pointer;
}

a:after {
    background-color: #f3f3f3;
    display: block;
    content: "";
    height: 1.5px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

a:hover:after,
a:focus:after {
    width: 100%;
}

button {
    width: 488px;
    height: 100px;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 60px;
    color: #F5F5F5;
    background-color: #3B4674;
    overflow: hidden;
    position: relative;
    transition: .3s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    animation: 4.5s anim-lineUp ease-out;
}

button::after {
    background-color: #F5F5F5;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .3s transform ease-out;
    will-change: transform;
    z-index: -1;
}

button:hover::after {
    transform: translate(0, 0);
}

button:hover {
    border: 2px solid transparent;
    color: #3B4674;
    transform: scale(1.05);
    will-change: transform;
}
