@font-face {
    font-family: 'RobotoBold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'RobotoMedium';
    src: url(../fonts/Roboto-Meduim.ttf);
}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url(../fonts/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: 'RobotoRegular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'RobotoItalic';
    src: url(../fonts/Roboto-Italic.ttf);
}

/* 1st screen | Настя */

.main-container {
    height: 100vh;
    background-color: #3B4674;
    background: url(../images/background_1.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color: #F5F5F5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #00000092, #00000000);
    padding: 24px 165px;
}

.menu-list {
    display: flex;
    list-style: none;
    z-index: 100;
}

.menu-item a {
    text-decoration: none;
    cursor: pointer;
    color: #F5F5F5;
    font-size: 14px;
    margin-right: 20px;
}

.main-content {
    width: 45%;
    margin-left: 165px;
    margin-top: 30px;
}

.abovetitle-text {
font-size: 16px;
font-weight: 500;
line-height: 135%;
text-transform: uppercase;
}

.main-title {
    font-size: 88px;
    font-family: 'RobotoItalic';
    font-weight: 500;
    line-height: 94.5%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.main-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    line-height: 135%;
}

.main-btn {
    background-color: #F5F5F5;
    color: #3B4674;
    margin-top: 70px;
    margin-bottom: 10px;
    border: none;
    transition: background-color 1s;
}

.main-btn:hover {
    background-color: #3B4674;
    color: #F5F5F5;
    border: 3px solid #F5F5F5;
    animation-name: slide-bg;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes slide-bg {
    from {
        background-color: #F5F5F5;
    }
    to {
        background-color: #3B4674;
    }
}

@keyframes slide-bg {
    from {
        background-color: #F5F5F5;
    }
    to {
        background-color: #3B4674;
    }
}

.underbtn-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    margin-left: 80px;
}